$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@font-face {
  font-family: Source-Sans-Pro-Bold-It;
  src: url(/fonts/SourceSansPro-BoldIt.otf);
}


@font-face {
  font-family: SourceSansProRegular;
  src: url(/fonts/SourceSansPro-Regular.otf);
}


@font-face {
  font-family: SourceSansProLight;
  src: url(/fonts/SourceSansPro-Light.otf);
}


@font-face {
  font-family: SourceSansProBold;
  src: url(/fonts/SourceSansPro-Bold.otf);
}


@font-face {
  font-family: SourceSansProSemibold;
  src: url(/fonts/SourceSansPro-Semibold.otf);
}


@font-face {
  font-family: NewsGothicMT;
  src: url(/fonts/NewsGothicMT.otf);
}

@font-face {
  font-family: Couture-Italic;
  src: url(/fonts/couture-bldit.otf);
}

@font-face {
  font-family: BebasNeue;
  src: url(/fonts/BebasNeue.otf);
}


// variables

$font-stack-1: Source-Sans-Pro-Bold-It, Couture-Italic, Calibri, Sans-Serif;
$font-stack-2: SourceSansProRegular, NewsGothicMT, SourceSansPro-Light, Calibri, Sans-Serif;
$font-stack-3: SourceSansProBold, Calibri, Sans-Serif;
$font-stack-4: SourceSansPro-Light, Calibri, Sans-Serif;

$light-yellow: #FCFAE3;
$light-pink: #FDE8E7;

li {
  list-style-type: none;
}

p {
	margin: 0;
}

h1 { 
	font-weight: 500;
	margin: 0;
}

h1.title {
	@media (max-width: 992px) {
		font-size: 0.989em;
	}
	@media (min-width: 992px) {
		font-size: 1em;
	}
}

h1.hidden { 
	font-size: 1px;
	visibility: hidden;
}

// "main" elements go here

a.main-button {
  text-decoration: none;
}

.main-container {
  padding-bottom: 3em;  

  .element-container {
    margin-top: 4.5em;
    margin-right: 0px;
    margin-left: 0px;

    .photo-container-1 {

      /* Extra small devices */ 
      @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) and (max-width: 992px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }      

      /* Medium devices (desktops, 992px and up) */
      @media (min-width: 992px) and (max-width:1200px) { 
        margin-left: 3em;
        display: inline-block;
        padding-right: 3em;
      }      

      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) { 
        margin-left: 10em;
        display: inline-block;
        padding-right: 3em;
      }

      .main-header {
        z-index: 10;
        font-family: $font-stack-1;
        position: absolute;
        margin-bottom: -3em;
        text-transform: uppercase;

        @media (max-width: 768px) { 
          margin-left: auto;
          margin-right: auto;
          display: block;
          font-size: 5.4em;
        } 

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) and (max-width: 992px) {  
          margin-left: 2em;
          margin-right: auto;
          display: block;
          font-size: 5.4em; 
        }       

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) and (max-width:1200px) { 
          margin-left: -0.4em;
          display: inline-block;
          font-size: 6.4em; 
        }       

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) { 
          margin-left: -0.7em;
          display: inline-block;
          font-size: 6.4em; 
        }

      }


      .main-photo-1 {
        max-width: 420px;
        z-index: -1;

        /* Extra small devices */ 
        @media (max-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 280px;
        } 

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) and (max-width: 992px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
          padding-bottom: 2em;
        }       
      }
      .main-photo-1:hover {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

    .photo-container-2 {
      // display: inline-block;

      /* Extra small devices */ 
      @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      /* Small devices (tablets, 768px and up) */
      @media (min-width: 768px) and (max-width: 992px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }      

      /* Medium devices (desktops, 992px and up) */
      @media (min-width: 992px) and (max-width:1200px) { 
        margin-left: -3em;
        display: inline-block;
      }      

      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) { 
        margin-left: -10em;
        display: inline-block;
      }

      .main-photo-2 {
        padding-top: 1em;
        padding-bottom: 5em;
        max-width: 450px; 
        z-index: -1;

        /* Extra small devices */ 
        @media (max-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 250px;
        } 

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) and (max-width: 992px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
          padding-bottom: 2em;
        }       
      }

      .main-photo-2:hover {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      .main-buttons {
        position: relative;
        bottom: 3em;

        /* Extra small devices */ 
        @media (max-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
        } 

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) and (max-width: 992px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
          padding-bottom: 2em;
          padding-top: 4em;
        } 

        button {
          background-color: #000000;
          color: white;
          border: solid;
          border-width: 2px;
          border-color: black;
          display: block;
          margin-bottom: 0.4em;
          width: 450px;
          text-transform: uppercase;
          font-family: $font-stack-2;
          font-size: 0.9em;
          letter-spacing: 2px;

          @media (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 250px;
          }   

          /* Small devices (tablets, 768px and up) */
          @media (min-width: 768px) and (max-width: 992px) {
            margin-left: auto;
            margin-right: auto;
            display: block;
          } 
        }

        button:hover {
          background-color: white;
          color: black;
          border-color: black;
          border: solid;
          border-width: 2px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        #about {
          padding: 0.4em 0em 0.4em 0em;
        }

        #links {
          padding: 0.4em 0em 0.4em 0em;
        }

        #portfolio {
          padding: 0.4em 0em 0.4em 0em;
        }

        #projects {
          padding: 0.4em 0em 0.4em 0em;
        }

        #contact {
          padding: 0.4em 0em 0.4em 0em;
        }
      }
    }
  } 
}

// "about" elements go here

.about-container {       
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width:1200px) {  
    margin: 15em 0em 0em 0em;
  }       

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    margin: 15em 0em 0em;
  }

  background-color: $light-yellow;
  height: auto;
  -webkit-transform: skewY(-1.5deg);
  -moz-transform: skewY(-1.5deg);
  -ms-transform: skewY(-1.5deg);
  -o-transform: skewY(-1.5deg);
  transform: skewY(-1.5deg);
	margin: 0;

  .hello-world {
    margin-top: -0.6em;
    -webkit-transform: skewY(1.5deg);
    -moz-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    -o-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
    font-family: $font-stack-3;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;

    @media (max-width: 769px) {
      font-size: 3em;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 768px) {  
      font-size: 4em;
    }
  }

  .about-description {
    -webkit-transform: skewY(1.5deg);
    -moz-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    -o-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
    font-family: $font-stack-4;
    font-size: 1.05em;
    text-align: center;
    letter-spacing: 2px;

    @media (max-width: 769px) {
      padding: 4em 4em 8em 4em;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 768px) {  
      padding: 4em 10em 8em 10em;
    }
  }
}


// links
.links-container { // try to make this stretch out bottom
  // @include span-columns(10);
  margin: 1em 0em 0em 0em;
  padding: 3em 0em 7.5em 0em;
  background-color: $light-pink;
  height: auto;
  -webkit-transform: skewY(1.5deg);
  -moz-transform: skewY(1.5deg);
  -ms-transform: skewY(1.5deg);
  -o-transform: skewY(1.5deg);
  transform: skewY(1.5deg);

  #links-header {
    font-family: $font-stack-3;
    font-size: 4em;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 0em 0em 0.4em 1.6em;
    -webkit-transform: skewY(-1.5deg);
    -moz-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);

  }

  .links-button-container {
    text-align: center;
    -webkit-transform: skewY(-1.5deg);
    -moz-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);

    @media (max-width: 768px) {
      padding: 0em 1.2em;
    }   

  /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 992px) {
      padding: 0em 1.2em;
    } 

    button {
      background-color: black;
      color: white;
      border: solid;
      border-width: 2px;
      border-color: black;
      margin-bottom: 0.4em;
      width: 171px;
      text-transform: uppercase;
      font-family: $font-stack-2;
      font-size: 0.9em;
      letter-spacing: 2px;
      padding: 0.5em 0em 0.5em 0.5em;
    }

    button:hover {
      background-color: white;
      color: black;
      border-color: black;
      border: solid;
      border-width: 2px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    /*
    #($all-buttons) {
      background-color: white;
      color: black;
    }
    */

    #twitter {
      
    } 

    #resume {
    
    } 

    #instagram {  

    } 

    #github { 

    } 

    #linkedin { 

    }
  }
}


.portfolio-container {
  margin: 7em 0em 0em 0em;
  padding: 9em 0em 4em 0em;
  background-color: white;
  height: auto;

  #portfolio-header {
    font-family: $font-stack-3;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: right;
    overflow-x: scroll;
    overflow-y: hidden;
		
		@media (max-width: 768px) {
			font-size: 3em;
			padding-right: 0.4em;
		}

		@media (min-width: 768px) {
			font-size: 3.7em;
			padding: 0em 1.3em 0.4em 0em;
		}
	}

  .portfolio {
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    height: auto;
    background-color: azure; 
    margin: 2em 0em;
    text-align: center;
    

		@media (max-width: 768px) {
			padding-top: 2em;
			padding-bottom: 7em;
		}
  	                            
  	@media (min-width: 768px) {
			padding: 5.5em 3em 7em 3em;
  	}

    .portfolioImg {
      text-align: center;
      padding-bottom: 5em;

      img {
        height: auto;
        margin: 2em;
        vertical-align: middle;

				@media (max-width: 768px) {
					width: 200px;
				}
				                            
				@media (min-width: 768px) {
					width: 230px;
				}
      }

      img:hover {
				@media (max-width: 768px) {    
					width: 230px;
				}
				                            
				@media (min-width: 768px) {
					width: 250px;
				}
        
				height: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

    button {
      background-color: black;
      color: white;
      border: solid;
      border-width: 2px;
      border-color: black;
      margin-bottom: 0.4em;
      width: 171px;
      text-transform: uppercase;
      font-family: $font-stack-2;
      font-size: 0.9em;
      letter-spacing: 2px;
      padding: 0.5em 0em 0.5em 0.5em;
    }
  
    button:hover {
      background-color: white;
      color: black;
      border-color: black;
      border: solid;
      border-width: 2px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  
  }
}

// projects
.projects-container {
  margin: 1em 0em 0em 0em;
  padding: 8em 0em 4em 0em;
  background-color: white;
  height: auto;

  #projects-header {
    font-family: $font-stack-3;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;

		@media (max-width: 768px) {
			font-size: 3em;
			padding-left: 0.3em;
		}                               
		                                	
		@media (min-width: 768px) {
			font-size: 3.7em;
			padding: 0em 0em 0.4em 1.3em;
		}
	}

  .project-card-container {
    background-color: azure;
    display: block;
    position: relative;
    text-align: center;
		margin: 0;

		@media (max-width: 768px) {
			padding: 3em 0em;	
		}                               
		                                	
		@media (min-width: 768px) {
			padding: 6em 0em;	
		}

    a {
      color: white;
      text-decoration: none;

      .project {
        background-color: black;
        margin: 10px 30px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-family: $font-stack-4;
        border-style: solid;

				@media (max-width: 768px) {
					width: 200px; 			
					height: 200px;  	
					padding: 0.4em 1em;
				}                               
				                                	
				@media (min-width: 768px) {
					width: 300px; 	
	  			height: 300px;
					padding: 2em;
				}

        h1.proj-header {
					font-weight: 100;

					@media (max-width: 768px) {
						font-size: 2.1em;
					}                               
					                                	
					@media (min-width: 768px) {
						font-size: 3em; 
					} 
				}

        h1.short-header {
					font-weight: 100;

					@media (max-width: 768px) {
						margin-top: 40px;
					}

					@media (min-width: 768px) {
						margin-top: 60px;
					}
        }

        h1.long-header {
					font-weight: 100;	
					
					@media (max-width: 768px) {
						margin-top: 28px;	
					}                               
					                                	
					@media (min-width: 768px) {
						margin-top: 45px;
					}

        }

        p.proj-description {
          font-size: 15px;
        }
      }
    }

    a:hover {
      color: black;
      background-color: white;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;

      .project {
        background-color: white;
        color: black;
        border-style: solid;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}


.contact-container {
	margin: 10em 0em 0em; 
  padding: 6em 0em;
  background-color: black;
  height: auto;
  color: white;
  text-align: center;

  #contact-header {
    @media (max-width: 768px) {
      font-size: 3em;
    }

    @media (min-width: 768px) {
      font-size: 4em;
    }   

    font-family: $font-stack-3;
    font-size: 4em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .contact-text {
    font-family: $font-stack-4;
    font-size: 1.05em;
    letter-spacing: 1px;

    @media (max-width: 768px) {
      padding: 2.8em;
    }

    @media (min-width: 768px) {
      padding: 0em 2.8em 2.8em;
    }  
  }

  a {
    text-decoration: none;
    color: white;
    
    button {
      font-family: $font-stack-2;
      text-transform: uppercase;
      border: solid;
      border-color: white;
      border-width: 3px;
      background-color: black;
      color: white;
      font-size: 0.9em;
      letter-spacing: 2px;
      width: 271px;
      height: 45px;
    } 
  }

  a:hover {
    color: black;
    

    button {
      background-color: white;
      color: black;
      border-color: white;
      border: solid;
      border-width: 3px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}



// yeoman did stuffies here

